

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../../Assets/Images/contactus_img.jpg');
    background-size: cover;
}

.contact-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 60vh;
    height: 70vh;
    background-color: rgb(51, 83, 120);
    color: #fff;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vh;
    height: 70vh;
    background-color: white;
    color: rgb(51, 83, 120);
    padding: 20px;
    /* border-radius: 5px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contact-form h2, .contact-info h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.contact-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.text, .email,textarea{
    width: 50vh;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.contactsubmit, .contactback {
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 3vh;
}

.contactsubmit:hover {
    background-color: rgb(44, 95, 153);
}
.contactback:hover {
    background-color: rgb(44, 95, 153);
}



.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-info ul li i {
    margin-right: 10px;
}
